<form class="login-form card" #loginForm="ngForm" (ngSubmit)="onLogin(loginForm)">
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input type="email" name="email" class="form-control" id="exampleInputEmail1" #email="ngModel"
            [(ngModel)]="loginModal.email" required email>

        <span class="text-danger" *ngIf="(email.touched || loginForm.submitted) && email.errors?.['required']">
            Email is required
        </span>

        <span class="text-danger" *ngIf="email.touched && email.errors?.['email']">
            Enter a valid email address
        </span>

    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input type="password" name="password" class="form-control" id="exampleInputPassword1" #password="ngModel"
            [(ngModel)]="loginModal.password" required>


        <span class="text-danger" *ngIf="(password.touched || loginForm.submitted) && password.errors?.['required']">
            Password is required
        </span>

    </div>
    <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Remember Me</label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>